<h1>Create New Discount for <%= @merch.name %></h1>
<%= render partial: 'form', locals: {
                                     discount: Discount.new, 
                                     button_text: 'Create Discount'
                                    } %>